.toolbar{
	width:100%;
	background-color: white;
	box-shadow: 1px 0px 7px rgba(0,0,0,0.3);
	height: 63px;
	top: 0;
	left: 0;
	z-index: -1;
}

.toolbar_navigation{
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1rem;
}

.toolbar_logo {
	margin-left: 13rem;
}

.toolbar_image {
	width: 145px;
	height: 30px;
	margin-top: 5%;
}

.toolbar_logo a{
	color:blue;
	text-decoration: none;
	font-size: 2rem;
}

.toolbar_navigation_items ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	padding-right: 210px;
}

.spacer{
	flex: 1;
}

.toolbar_navigation_items li{
	padding: 0.5rem;
	color: #6e6e6e;
}

.toolbar_navigation_items a{
	color: #6e6e6e;
	text-decoration: none;
}

#notif{
	width:40px;
	height: 40px;
}

.button_notif {
  color: white;
  display: inline-block; /* Inline elements with width and height. TL;DR they make the icon buttons stack from left-to-right instead of top-to-bottom */
  position: relative; /* All 'absolute'ly positioned elements are relative to this one */
  text-align: center;
  padding: 1px 3px; /* Add some padding so it looks nice */
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  color: white; 
  margin-top: 4px;
  height: 20px;
  width: 20px;
  padding-top: 5px;
  font-size: 10px;  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

#button_icon{
	background: rgb(136,204,0,0.7);
	border:0;
	width: 35px;
	height:35px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0; 
	color: white;
}

/*
@media (max-width: 768px) {
	.toolbar_navigation_items {
		display: none;
	}
}

@media (min-width: 769px) {
	.toolbar_toggle_button {
		display: none;
	}
	.toolbar_logo {
		margin-left: 0; 
	}
}*/