* {
  box-sizing: border-box;
  box-shadow: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}



/* Float four columns side by side */
.column {
  float: left;
  width: 28%;


}

/* Remove extra left and right margins, due to padding */
.row {
	margin-top: 3%;
	margin-left: 15%;

}

.top_row{
	margin-top: 28%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.button2{

	border-color: #20B2AA;
	background-color: white;
	border-radius: 4px;
	width: 120px;
	height: 30px;
	text-align: center;
	border-width: 1.3px 1.3px 1.3px 1.3px;
	font-size: 15px;
}

.content_store {
  position: absolute;
  z-index: 15;
  top: 25%;
  left: 25%;
  margin: -60px 0 0 -150px;
  font-size: 35px;
  color:rgb(0,0,0,0.8);
  font-style: sans-serif;
}
.first_div {
  position: absolute;
  width: 70%;
  height: 215px;
  z-index: 15;
  top: 38%;
  left: 25%;
  margin: -60px 0 0 -150px;
  background: rgba(232,245,233,0.2);
}

.heading{
	font-size: 20px;
	color: #20B2AA;
	padding-left: 30px;
}

.para1{
	font-size: 15px;
	color: #a6a6a6;
	padding-left: 30px;
	font-family: 'Arial',sans-serif;
}

.button1{
	position: absolute;
	border-color: #20B2AA;
	background-color: white;
	border-radius: 4px;
	width: 180px;
	height: 30px;
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
	border-width: 1.3px 1.3px 1.3px 1.3px;
	font-size: 15px;
}
